.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
  gap: 2rem;
  background-color: #f4f6f8;
}

.text h2 {
  color: #004a80;
  margin-bottom: 1rem;
}

.text p {
  color: #555555;
}

.imagePlaceholder {
  background: #dcdcdc;
  height: 250px;
}
