.services {
  padding: 4rem;
  background-color: #ffffff;
}

.services h2 {
  text-align: center;
  margin-bottom: 3rem;
  color: #004a80;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.card {
  background: #f5f7f9;
  padding: 2rem;
  border-left: 6px solid #5eb3e4;
  color: #000000;
}
